# genk8s:hash=a6d57d210ff033607de604902891a916
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: cert-manager
    server: https://kubernetes.default.svc
  project: default
  source:
    path: kubernetes/cert-manager/stage/rendered/
    repoURL: https://github.com/gpo/gpo-platform-configs
    targetRevision: HEAD
  syncPolicy:
    automated:
      enabled: true
      prune: true
