apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cert-manager-cf-api-token
  namespace: cert-manager
spec:
  refreshPolicy: CreatedOnce
  secretStoreRef:
    name: main
    kind: ClusterSecretStore
  target:
    # create a secret called "cert-manager-cf-api-token"
    name: cert-manager-cf-api-token
    creationPolicy: Owner
  data:
    # this will the the key in the generated k8s secret (data.api-token: <token goes here>)
  - secretKey: api-token
    remoteRef:
      # name of the secret in google secret manager
      key: cert-manager-cf-api-token
      version: latest
