repositories:
- name: external-secrets
  url: https://charts.external-secrets.io

releases:
- name: external-secrets
  namespace: external-secrets
  chart: external-secrets/external-secrets
  version: 1.2.1
  values:
  - values.yaml
