# genk8s:hash=7aca421b58bda460c460adc8bd4e7440
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: main
  namespace: external-secrets
spec:
  provider:
    # tell external secrets operator to retrieve secrets from GCP Secrets Manager
    gcpsm:
      projectID: gpo-eng-stage
      auth:
        workloadIdentity:
          # use this K8s svc account + WI to access GCP SM
          serviceAccountRef:
            name: external-secrets
            namespace: external-secrets
