[tools]
opentofu = '1.9.1'
pre-commit = '4.5.0'
sops = '3.11.0'
jq = '1.8.1'
argocd = '3.2.1'
helmfile = '1.2.2'
yq = 'v4.50.1'

[tasks.pc]
description = "Run all git pre-commit hooks."
run = "pre-commit run --all-files"

[tasks.genk8s]
description = "Transform TF outputs into K8s YAMLs"
run = [{tasks = [
 "grassroots:genk8s",
 "superset:genk8s",
 "argocd:genk8s",
 "argocd-apps:genk8s",
 "external-secrets:genk8s"
]}]

[tasks.render]
description = "Render all helm charts."
run = [{tasks = [
  "argocd:render",
  "certmgr:render",
  "external-secrets:render",
  "superset:render",
]}]

[tasks."argocd:genk8s"]
description = "Transform TF outputs into helm values for argocd."
dir = "kubernetes/argocd"
run = "../../scripts/genk8s.sh"

[tasks."argocd:render"]
description = "Render all K8s YAMLs for argocd."
run = [{tasks = [
  "argocd:stage:render",
  "argocd:prod:render",
]}]

[tasks."argocd:stage:render"]
description = "Render stage helm charts for argocd."
dir = "kubernetes/argocd/stage"
run = "helmfile --log-level warn template | yq -P > rendered/argocd.yaml"
outputs = ["kubernetes/argocd/stage/rendered/argocd.yaml"]
sources = ["kubernetes/argocd/stage/*.yaml"]

[tasks."argocd:prod:render"]
description = "Render prod helm charts for argocd."
dir = "kubernetes/argocd/prod"
run = "helmfile --log-level warn template | yq -P > rendered/argocd.yaml"
outputs = ["kubernetes/argocd/prod/rendered/argocd.yaml"]
sources = ["kubernetes/argocd/prod/*.yaml"]

[tasks."argocd-apps:genk8s"]
description = "Transform TF ouptuts into K8s YAMLs for argocd-apps."
dir = "kubernetes/argocd-apps"
run = "../../scripts/genk8s.sh"

[tasks."superset:genk8s"]
description = "Transform TF outputs into K8s YAMLs for superset."
env.APPNAME = "superset"
dir = "kubernetes/superset"
run = "../../scripts/genk8s.sh"

[tasks."superset:render"]
description = "Render all superset helm charts."
run = [{tasks = [
  "superset:stage:render",
  "superset:prod:render",
]}]

[tasks."superset:stage:render"]
description = "Render the stage Superset helm chart."
dir = "kubernetes/superset/stage"
run = "helmfile --log-level warn template | yq -P | ../filter-helm-templates.sh > rendered/superset.yaml"
outputs = ["kubernetes/superset/stage/rendered/superset.yaml"]
sources = ["kubernetes/superset/stage/values.yaml"]

[tasks."superset:prod:render"]
description = "Render the prod Superset helm chart."
dir = "kubernetes/superset/prod"
run = "helmfile --log-level warn template | yq -P | ../filter-helm-templates.sh > rendered/superset.yaml"
outputs = ["kubernetes/superset/prod/rendered/superset.yaml"]
sources = ["kubernetes/superset/prod/values.yaml"]

[tasks."superset:build"]
description = "Build docker images for Apache superset."
dir = "kubernetes/superset/docker"
run = "docker build . --platform=linux/amd64"

[tasks."grassroots:genk8s"]
description = "Transform TF outputs into K8s YAMLs for the grassroots app."
env.APPNAME = "grassroots"
dir = "kubernetes/grassroots"
run = "../../scripts/genk8s.sh"

[tasks."certmgr:render"]
description = "Render all cert manager helm charts."
run = [{tasks = [
  "certmgr:stage:render",
  "certmgr:prod:render",
]}]

[tasks."certmgr:prod:render"]
description = "Render prod cert manager helm chart."
dir = "kubernetes/cert-manager/prod"
run = "helmfile --log-level warn template | yq -P > rendered/cert-manager.yaml"
outputs = ["kubernetes/cert-manager/prod/rendered/cert-manager.yaml"]
sources = ["kubernetes/cert-manager/prod/*.yaml"]

[tasks."certmgr:stage:render"]
description = "Render stage cert manager helm chart."
dir = "kubernetes/cert-manager/stage"
run = "helmfile --log-level warn template | yq -P > rendered/cert-manager.yaml"
outputs = ["kubernetes/cert-manager/stage/rendered/cert-manager.yaml"]
sources = ["kubernetes/cert-manager/stage/*.yaml"]

[tasks."external-secrets:genk8s"]
description = "Transform TF outputs into YAMLs for the external-secrets app."
env.APPNAME = "external-secrets"
dir = "kubernetes/external-secrets"
run = "../../scripts/genk8s.sh"

[tasks."external-secrets:render"]
description = "Render all external secrets helm charts."
run = [{tasks = [
  "external-secrets:stage:render",
  "external-secrets:prod:render",
]}]

[tasks."external-secrets:stage:render"]
description = "Render stage external-secrets helm chart."
dir = "kubernetes/external-secrets/stage"
run = "helmfile --log-level warn template | yq -P > rendered/external-secrets.yaml"
outputs = ["kubernetes/external-secrets/stage/rendered/external-secrets.yaml"]
sources = ["kubernetes/external-secrets/stage/*.yaml"]

[tasks."external-secrets:prod:render"]
description = "Render prod external-secrets helm chart."
dir = "kubernetes/external-secrets/prod"
run = "helmfile --log-level warn template | yq -P > rendered/external-secrets.yaml"
outputs = ["kubernetes/external-secrets/prod/rendered/external-secrets.yaml"]
sources = ["kubernetes/external-secrets/prod/*.yaml"]

[tasks.tffmt]
description = "Run 'tofu fmt' on everything."
run = "tofu fmt -recursive"
