repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-merge-conflict
    - id: check-yaml
  - repo: https://github.com/terraform-docs/terraform-docs
    rev: "v0.18.0"
    hooks:
      - id: terraform-docs-go
        args: ["markdown", "table", "--output-file", "README.md", "./"]
        files: ^(\.github\/workflows\/.*|.*\.hcl|.*\.env|.*\.tf)$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: "v1.92.1"
    hooks:
      - id: terraform_validate
        args:
        - --hook-config=--tf-path=tofu
        - --hook-config=--retry-once-with-cleanup=true
        - --tf-init-args=-upgrade
        exclude: modules/.*$
        files: ^(\.github\/workflows\/.*|.*\.hcl|.*\.env|.*\.tf)$
      - id: terraform_providers_lock
        args:
        - --hook-config=--tf-path=tofu
        - --hook-config=--mode=only-check-is-current-lockfile-cross-platform
        - --args=-platform=darwin_amd64
        - --args=-platform=darwin_arm64
        - --args=-platform=linux_amd64
        - --args=-platform=linux_arm64
        exclude: modules/.*$
        files: ^(\.github\/workflows\/.*|.*\.hcl|.*\.env|.*\.tf)$
      - id: terraform_fmt
        args:
        - --hook-config=--tf-path=tofu
        files: ^(\.github\/workflows\/.*|.*\.hcl|.*\.env|.*\.tf)$
