postgresql:
  image:
    # Use default registry and tag from PostgreSQL subchart,
    # but set repository to legacy images repository.
    repository: bitnamilegacy/postgresql
redis:
  image:
    # Same idea for Redis.
    repository: bitnamilegacy/redis
# Custom Superset image which contains their upstream release plus pip packages
# for MySQL and PostgreSQL drivers.
image:
  repository: ${image_repository_uri}/apache-superset
  tag: v0.0.1
