# genk8s:hash=3d2ab334caffa9a09fbfbfb6467cf59b
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: main
  namespace: external-secrets
spec:
  provider:
    # tell external secrets operator to retrieve secrets from GCP Secrets Manager
    gcpsm:
      projectID: gpo-eng-prod
      auth:
        workloadIdentity:
          # use this K8s svc account + WI to access GCP SM
          serviceAccountRef:
            name: external-secrets
            namespace: external-secrets
