name: CI Generic Checks

on:
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  generic-checks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1
        env:
          SKIP: terraform-docs-go terraform_validate terraform_providers_lock terraform_fmt
