name: CI Format and Validate

on:
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  format-and-validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Fetch all history for diff comparison
        run: git fetch origin ${{ github.event.pull_request.base.sha }} --depth=1

      - name: Set up OpenTofu
        uses: opentofu/setup-opentofu@v1

      - name: Use OpenTofu for Terraform
        run: echo "PCT_TFPATH=$(which tofu)" >> $GITHUB_ENV

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: >
            --files $(git diff --name-only --diff-filter=ACMRTUXB ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha }})
