name: Terraform CI

on:
  pull_request:
    types:
      - opened
      - synchronize
    paths:
      - '**/*.tf'
      - '**/*.env'
      - '**/*.hcl'
      - '.github/workflows/**'

jobs:
  terraform-checks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up OpenTofu
        uses: opentofu/setup-opentofu@v1

      - name: Use OpenTofu for Terraform
        run: echo "PCT_TFPATH=$(which tofu)" >> $GITHUB_ENV

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1
